@model IEnumerable<Core.Account.User>
@{
    ViewData["Title"] = Resource.Home;
}


<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">@Resource.Students</div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2" id="TotalCountStudentDBR"></div>
                            <div class="me-auto">
                                <span class="text-green d-inline-flex align-items-center lh-1">
                                    <span id="GrowthStudentDBR" class=""></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="chart-revenue-bg" class="chart-sm"></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">@Resource.Attendance</div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-3 me-2" id="TotalCountAttendance"></div>
                            <div class="me-auto">
                                <span class="text-green d-inline-flex align-items-center lh-1">
                                    <span id="GrowthAttendance"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="chart-Attendance" class="chart-sm" style="min-height: 40px;"></div>
                </div>
            </div>
            <div class="col-12 pr-10">
                <div class="col-6">
                    <div class="card" style="height: 28rem">
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <span class="card-title">@Resource.ClassesToday</span>
                            <div id="Attendance" class="divide-y">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-10">
                    <div class="card" style="height: 28rem">
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <span class="card-title">@Resource.AbonementLeft</span>
                            <div id="ListExpiredStudent" class="divide-y">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var ChartStudent = @Html.Raw(ViewBag.StudentChart);
    var ChartAttendance = @Html.Raw(ViewBag.AttendanceChart);

    function RenderChartStudent(){
        $('#TotalCountStudentDBR').html(ChartStudent.TotalAll);
        $('#GrowthStudentDBR').html(ChartStudent.Growth * -1).addClass(ChartStudent.ClassName);
        ConfigureChart('ru');
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-revenue-bg'), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                defaultLocale: 'ru',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: [{
                name: "@Html.Raw(Resource.Students)",
                data: ChartStudent.DataArray
            }],
            tooltip: {
                theme: 'dark'
            },
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: ChartStudent.DateStringArray,
            colors: [tabler.getColor("primary")],
            legend: {
                show: false,
            },
        })).render();
    }
    function RenderAttendanceChart(){
        $('#TotalCountAttendance').html(ChartAttendance.TotalAll);
        $('#GrowthAttendance').html(ChartAttendance.Growth * -1).addClass(ChartAttendance.ClassName);
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-Attendance'), {
            chart: {
                type: "bar",
                fontFamily: 'inherit',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%',
                }
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 1,
            },
            series: [{
                name: "@Html.Raw(Resource.Attendance)",
                data: ChartAttendance.DataArray
            }],
            tooltip: {
                theme: 'dark'
            },
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: ChartAttendance.DateStringArray,
            colors: [tabler.getColor("primary")],
            legend: {
                show: false,
            },
        })).render();
    }


    $(document).ready(function () {
        RenderChartStudent();
        RenderAttendanceChart();
        OnGetAttendanceToday();
        OnGetListExpiredStudent();
    });

    function OnGetAttendanceToday() {
        $.get('@Url.Action("GetListAttendance", "Attendance")', null, function (data) {
            $('#Attendance').html(data);
        });
    }

    function OnGetListExpiredStudent() {
        $.get('@Url.Action("GetListExpiredStudent", "Attendance")', null, function (data) {
            $('#ListExpiredStudent').html(data);
        });
    }

</script>