@model IEnumerable<Core.Attendance>
<link rel="stylesheet" href="~/css/AttendanceList.css" />
<div class="container-xl mt-3">
    <div class="card">
        <ul class="AttendanceUL">
            @foreach (var item in Model)
            {
                <li class="AttendanceItem">
                    <div class="AttendanceNameGroup">
                        <div>
                            @item.Group.Name
                        </div>
                        <div>
                            @item.DateVisiting.ToShortDateString()
                        </div>
                    </div>
                    <div class="BtnContainer">
                        @if(item.DateClose == null)
                        {
                            <a class="btn btn-ghost-success" onclick="OnStartAttendance(@item.Group.GroupId, '@item.DateVisiting.ToShortDateString()')">@Resource.AttendanceStart</a>
                        }
                        else
                        {
                            <a class="btn btn-ghost-success disabled">@Resource.AttendanceEnd</a>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    function OnStartAttendance(GroupId, date) {
        $.get('@Url.Action("GetStartAttendance", "Attendance")', { GroupId: GroupId, Date: date }, function (data) {
            $('#modal_body').html(data);
            OpenModal();
        });
    }

</script>