@model IEnumerable<Core.Account.User>

@if (Model != null && Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td class="text-secondary">
                @item.Email
            </td>
            <td>
                <a onclick="OnGetModalEdit('@item.UserName')">@Resource.Edit</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3" class="EmtyResultTd">@Resource.EmptyResult</td>
    </tr>
}