@model IEnumerable<Core.Student>
@{
    bool edit = ViewBag.Edit ??= false;
    bool delete = ViewBag.Delete ??= false;
}


@if (Model != null && Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Age</td>
            @if (edit)
            {
                <td>
                    <a onclick="OnGetModalEdit(@item.StudentId)"><i title="@Resource.Edit" class="ti ti-edit"></i>  @* @Resource.Edit *@</a>
                </td>
            }
            @if (delete)
            {
                <td>
                    <a onclick="OnGetConfrimDelete(@item.StudentId)"> <i title="@Resource.Delete" class="ti ti-trash"></i> @* @Resource.Delete *@</a>
                </td>
            }
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4" class="EmtyResultTd">@Resource.EmptyResult</td>
    </tr>
}